.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

.variable-item {
  border: 1px dotted yellow;
  margin-right: 5px;
}

.item-container input[type="number"]::-webkit-outer-spin-button,
.item-container input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
     
}

.item-container input[type="number"] {
    -moz-appearance: textfield;
    width: 75px;
    height: 30px; 
}


.item-container button {
  width: 200px;
  height: 25px;
}

.items-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.items-row select {
  width: 50px;
  height: 25px;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item {
  display: flex;
  align-items: center;
  gap: 2px;
}

.equality {
  width: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}