#restrictions-container {
  border: 1px solid green;
}

#restrictions-container span {
  margin: 0 10px;
}

#restrictions-container input[type="number"] {
  width: 55px;
  height: 25px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#restrictions-container button {
  width: 100px;
  height: 25px;
}

.restriction-row {
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.restriction-item {
  border: 1px solid blue;
  display: flex;  
  align-items: center;
}

.equality {
  width: 100px;
}